opencv-python==4.13.0.70  # opencv
numpy==2.4.1              # math
Pillow==10.1.0            # images
pillow-heif==1.2.0        # heic format
pandas==2.2.0             # csv
pytest==7.4.4             # unit test
pytest-cov==4.1.0         # test cov
fastapi==0.109.0          # api
uvicorn==0.27.0           # server
pydantic==2.5.0           # validasyon
python-json-logger==2.0.7 # loglama
